@import '~bootstrap/dist/css/bootstrap.css';
@import './nouislider.min.css';
@import './constants.scss';
@import './filter-tab.scss';
@import './information-tab.scss';
html, body {
    height: 100%;
    width: 100%;
}
#root {
    height: 100%;
    width: 100%;
}
.container,
.dashboard-container {
    width: 100%;
    height: 100%;
    padding: 0;

    .topbar {
        width: 100%;
        height: 50px;
        background-color: $red;
        color: white;
        font-size: 25px;
        line-height: 50px;

        span {
            padding-left: 20px;
        }
    }
    .left-panel {
        float: left;
        height: calc(100% - 50px);
        width: 300px;

        .tabs {
            padding: 5px 10px;
            height: 100%;

            .tabs-active-content {
                height: calc(100% - 42px);
                border: 1px solid #ddd;
                border-top: 0;
            }
        }
    }
    .right-panel {
        float: left;
        height: calc(100% - 50px);
        width: calc(100% -  310px);
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        .gmap-container {
            border: 1px solid #ddd;
        }
    }
}